<html>
<head>
<title>Test HTML</title>
</head>
<body>
<p>
Today's date is <%date%>.<br>
</p>
<p>
Some dummy test<pre><%="dummy_text_cb"%></pre>
</p>
<ol>
<%repeat="repeat_test" prefix="<li>" suffix="</li>"%>
</ol>
</body>
</html>
